<html lang="pt"  class="m-0 p-0">
    <%- include('head.ejs', { additionalScripts: [] }) %>

    <body class="font-default">
        <div class="blocker max-w-screen-sm m-auto">
            <div id="content" class="content m-4">
                Hello World!
            </div>
        </div>
    </body>
</html>